@import "./variables.scss";

.main {
  background: #eceefb;
  display: flex;
  gap: 45px;
  padding-top: 50px;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1100px;
  flex: 1 1;
}

.box {
  flex: 1;
}
